.window-app {
  font-family: $font-primary;
}

.mta20a.actor {
  min-width: 600px;
  min-height: 500px;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}
